<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:width="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<!--верхняя полоса-->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto text-white ">
        <span class="navbar-brand" th:text="${oneUser.email}"></span>
        <p class="h5 font-weight-normal mt-2">with roles:</p>
        <p>&nbsp</p>
        <span class="navbar-brand"
              th:each="role :${oneUser.getRoles()}">
              <label th:text="${role.role}"/>

        </span>
    </ul>
    <form class="form-inline" th:action="@{/logout}" method="post">
        <a class="nav-link" th:href="@{/logout}">
            <p class="text-secondary">Logout</p>
        </a>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <!--Первая(левая) колонка экрана-->
        <div class="col-sm-2 mt-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <!--Вторая(правая) колонка экрана-->
        <div class="col-sm-10 bg-light vh-100">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <p class="h1 mt-3">Admin panel</p>
                    <!--Навигация(вкладочные панели)-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="user-table-all-tab" data-toggle="tab" href="#userTableAll" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="user-tab" data-toggle="tab" href="#newUser" role="tab"
                               aria-controls="profile" aria-selected="false">New user</a>
                        </li>
                    </ul>
                    <!--Admin panel-->
                    <div class="tab-content" id="myTabContent">
                        <!--таблица с кнопками(Users table)-->
                        <div class="tab-pane fade show active" id="userTableAll" role="tabpanel"
                             aria-labelledby="user-table-all-tab">
                            <table id="UsersTable" class="table table-striped">
                                <nav class="navbar navbar-light bg-light">
                                    <span class="navbar-brand mb-0 h1">All users</span>
                                </nav>
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody >
                                </tbody>
                            </table>
                            <!--Edit модальное окно-->

                            <div class="modal fade" id="EditModal"
                                 tabindex="-1" aria-labelledby="EditModallabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="EditModallabel">Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <form class="form-group">
                                                <div class="modal-body text-center">
                                                    <div class="container-fluid justify-content-center mx-auto">
                                                        <div class="form-group">
                                                            <label for="id" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>ID</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   id="id" name="id"
                                                                   readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="name" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>First name</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   name="name"
                                                                   id="name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="surname" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>Last name</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   name="surname"
                                                                   id="surname">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="age" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>Age</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   name="age"
                                                                   id="age">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>Email</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   name="email"
                                                                   id="email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Password"
                                                                   class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>password</strong>
                                                                </p>
                                                            </label>
                                                            <input type="password" class="form-control"

                                                                   name="password" id="password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Role" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>Role</strong>
                                                                </p>
                                                            </label>
                                                            <select multiple class="form-control"
                                                                    id="Role"
                                                                    name="roles"
                                                                    size="2">
                                                                <option>ADMIN</option>
                                                                <option selected>USER</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Edit
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Delete модальное окно-->

                            <div class="modal fade" id="DeleteModal"
                                 tabindex="-1" aria-labelledby="DeleteModallabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="DeleteModallabel">Delete
                                                user</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <form class="form-group">
                                                <div class="modal-body text-center">

                                                    <div class="container-fluid justify-content-center mx-auto">


                                                        <div class="form-group">
                                                            <label for="idD" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>ID</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   id="idD" name="id"
                                                                   readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="nameD" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>First name</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   name="name"
                                                                   id="nameD" readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="surnameD"
                                                                   class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>Last name</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   name="surname"
                                                                   id="surnameD" readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="ageD" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>Age</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   name="age"
                                                                   id="ageD" readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="emailD" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>Email</strong>
                                                                </p>
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                   name="email"
                                                                   id="emailD" readonly>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="RoleD" class="col-form-label">
                                                                <p class="h5 mb-n2">
                                                                    <strong>Role</strong>
                                                                </p>
                                                            </label>
                                                            <select multiple class="form-control"
                                                                    id="RoleD"
                                                                    name="roles"
                                                                    size="2" readonly>
                                                                <option>ADMIN</option>
                                                                <option selected>USER</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">
                                                        Delete
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!--форма для добавления юзера-->
                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="user-tab">
                            <nav class="navbar navbar-light bg-light">
                                <span class="navbar-brand mb-0 h1">Add new user</span>
                            </nav>
                            <div class="card text-center">
                                <form class="new-user-form justify-content-center mx-auto" style="width: 300px">
                                    <div class="card-body h-75">
                                        <div class="form-group">
                                            <label for="nameAdd" class="col-form-label">
                                                <p class="h5 mb-n2">
                                                    <strong>First name</strong>
                                                </p>
                                            </label>
                                            <input type="text" class="form-control" id="nameAdd" name="name"
                                                   placeholder="name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="surnameAdd" class="col-form-label">
                                                <p class="h5 mb-n2">
                                                    <strong>Last name</strong>
                                                </p>
                                            </label>
                                            <input type="text" class="form-control" id="surnameAdd" name="surname"
                                                   placeholder="Last name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="ageAdd" class="col-form-label">
                                                <p class="h5 mb-n2">
                                                    <strong>Age</strong>
                                                </p>
                                            </label>
                                            <input type="text" class="form-control" id="ageAdd" name="age"
                                                   placeholder="age" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="emailAdd" class="col-form-label">
                                                <p class="h5 mb-n2">
                                                    <strong>Email</strong>
                                                </p>
                                            </label>
                                            <input type="email" class="form-control" id="emailAdd" name="email"
                                                   placeholder="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="passwordAdd" class="col-form-label">
                                                <p class="h5 mb-n2">
                                                    <strong>Password</strong>
                                                </p>
                                            </label>
                                            <input type="password" class="form-control" id="passwordAdd" name="password"
                                                   placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="RoleAdd" class="col-form-label">
                                                <p class="h5 mb-n2">
                                                    <strong>Role</strong>
                                                </p>
                                            </label>
                                            <select multiple class="form-control" id="RoleAdd" size="2" name="roles"
                                                    required>
                                                <option>ADMIN</option>
                                                <option selected>USER</option>
                                            </select>
                                        </div>
                                        <button id="newUserBtn" type="submit" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!--user info-->
                <div class="tab-pane fade show" id="v-pills-profile" role="tabpanel">
                    <p class="h1 mt-3">User information-page</p>
                    <table class="table table-striped">
                        <nav class="navbar navbar-light bg-light">
                            <span class="navbar-brand mb-0 h1">About user</span>
                        </nav>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>

                            </td>
                        </tr>


                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../js/admin.js"></script>
</body>
</html>