<div class="tab-pane fade show active" id="Userhome" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <p class="h1 mt-3">User information-page</p>
    <table class="table table-striped">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">About user</span>
        </nav>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>

        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.authorities}"></td>

        </tr>

    </table>
</div>